@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{
    height: -webkit-fill-availabale;
}

body{
    height: 100vh;
    height: -webkit-fill-availabale;
    position: relative;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(90deg, #000 0%, #196829 100%);
    padding-width: 2em;
    padding:60px 0px;
    margin: 10px 0px;
    justify-content: center;
    flex-direction: column;
}

input{
    display: grid;
    
}

img{
    width: 100%;
    height: 100%;
    bottom: 100px;
    right: 100px;
    display: flex;
    float: right;

}
.flipbookpages1{
    position: relative;
    bottom: 10000px;
    right: 4000px
}
.book{
    display: flex;
    float: right;
    bottom:10px;
    right: 3px
}
#cover{
    width: 422px;
    height: 596px;
    
}
.flip-book {
    width: 422px;
    height: 597.5px;
    position: relative;
    perspective: 1500px;
    bottom: 0px;
    right:400px
    
}
.flip {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: .6s;
    color: #000;

}
p{
    font-size: 14px;
    line-height: 24px;
}
.front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 13px;
    box-shadow: inset 20px 0 50px rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,.5);

}
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #000;
}
.next-btn{
    position: absolute;
    bottom: 7px;
    right: 13px;
    cursor: pointer;
    color: #000;
}
.back-btn{
    position: absolute;
    text-transform: 10px;
    width: 200px;
    height: 9px;
    cursor: pointer;
    color: #fff;
    top: 317px;


}

.btn {
  position: relative;
  background-color: DodgerBlue;
  border: none;
  color: white;
  cursor: pointer;
  max-width: 15vh;
  min-height: 2vh;
}
.btn:hover {
  background-color: RoyalBlue;
}
.instagram {
  position: absolute;
  margin: 15px auto;
  padding-inline: 505px 10px;
  bottom: 210px;
  
}

.youtube  {
  position: absolute;
  margin: 10px auto;
  padding-inline: 465px 10px;
  bottom: 215px;


}

.MV-23 {
    position: fixed;
    column-span: white;
    bottom: 50px;
    left: 785px;
   
}

#p1{
    z-index: 3;    
}
#p2{
    z-index: 2;    
}
#p3{
    z-index: 1;    
}
#c1:checked ~ .flip-book #p1{
    transform: rotateY(-180deg);
    z-index: 1;    
}
#c2:checked ~ .flip-book #p2{
    transform: rotateY(-180deg);    
    z-index: 2;
}
#c3:checked ~ .flip-book #p3{
    transform: rotateY(-180deg);
    z-index: 3;    
}
@media only screen and (min-height: 423px) {
  .instagram {
    top: 525px;
    left: -440px;
   }
   .youtube {
    top: 527px;
    left: -440px;
   }
   .MV-23 {
    top: 610px;
    left: 140px;
   }
   .btn {
    top: 490px;
    left: 180px;
    font-size: 10px;
    width: 50%
}
   .flipbookpages1 {
    left: 193.1px;
    top: 80px;
    width: 225px;
    height: 335px;
    }
    .flip-book {
    font-size: 8px;
    left: -3.5px;
    top: 80px; 
    width: 225px;
    height: 335px;
    }
    .back-btn{
    bottom: 5px;
    right: 50px;
}
@media only screen and (min-width: 1400px) {
  .instagram {
    margin-top: 30px;
    margin-left: 510px;
  }
  .youtube {
    margin-top: 28px;
    margin-left: 515px;
  }
  .btn {
    margin-top: 20px;
    margin-left: 530px;
    width: 50%;
    min-width: 100px;
  }
  .MV-23 {
    margin-top: 20px;
    margin-left: 532px;
  }
   .flipbookpages1 {
    margin-top: 20px;
    margin-left: -525px;
 }
  .flip {
    margin-top: 20px;
    margin-left: -525px;
 }
