@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{
    height: -webkit-fill-availabale;
}

body{
    height: 100vh;
    height: -webkit-fill-availabale;
    position: relative;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(90deg, #000 0%, #196829 100%);
    padding: 70px 10px;
    margin: 70px 70px;
    justify-content: center;
    flex-direction: column;
}
    bottom: 1px;

    
}
input{
    display: none;
    
}
img{
    width: 100%;
    height: 100%;
    bottom: 100px;
    right: 10px;
    display: flex;
    float: right;

}
.flipbookpages1{
    position: relative;
    bottom: 0px;
    right: 400px
}
.book{
    display: flex;
    float: right;
    bottom:1px;
    right: 3px
}
#cover{
    width: 422px;
    height: 595px;
    
}
.flip-book{
    width: 421px;
    height: 595px;
    position: relative;
    perspective: 1500px;
    bottom: -1px;
    right:400px
}
.flip{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: .6s;
    color: #000;
}
p{
    font-size: 14px;
    line-height: 24px;
}
.front{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 13px;
    box-shadow: inset 20px 0 50px rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,.5);

}
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #000;
}
.next-btn{
    position: absolute;
    bottom: 7px;
    right: 13px;
    cursor: pointer;
    color: #000;
}
.back-btn{
    position: absolute;
    bottom: 7px;
    right: 95px;
    cursor: pointer;
    color: #fff;
}

.btn {
  position: absolute;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 20px;
  bottom: 230px;
  left: 730px;

}
.btn:hover {
  background-color: RoyalBlue;
}

.instagram {
  position: absolute;
  margin: 10px 10px;
  padding-inline: 480px 10px;
  bottom: 250px;
  
}

.youtube  {
  position: absolute;
  margin: 10px 10px;
  padding-inline: 420px 10px;
  bottom: 250px;


}

.MV-23 {
    position: relative;
    column-span: white;
    bottom: 10px;
    left: 750px;
}

#p1{
    z-index: 3;    
}
#p2{
    z-index: 2;    
}
#p3{
    z-index: 1;    
}
#c1:checked ~ .flip-book #p1{
    transform: rotateY(-180deg);
    z-index: 1;    
}
#c2:checked ~ .flip-book #p2{
    transform: rotateY(-180deg);    
    z-index: 2;
}
#c3:checked ~ .flip-book #p3{
    transform: rotateY(-180deg);
    z-index: 3;    
}
