@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{
    height: -webkit-fill-availabale;
}

body{
    height: 100vh;
    height: -webkit-fill-availabale;
    position: relative;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(90deg, #000 0%, #196829 100%);
    padding-width: 2em;
    padding:60px 0px;
    margin: 10px 0px;
    justify-content: center;
    flex-direction: column;
}


    
}
input{
    display: grid;
    
}
img{
    width: 100%;
    height: 100%;
    bottom: 100px;
    right: 10px;
    display: flex;
    float: right;

}
.flipbookpages1{
    position: relative;
    bottom: 0px;
    right: 400px
}
.book{
    display: flex;
    float: right;
    bottom:1px;
    right: 3px
}
#cover{
    width: 422px;
    height: 596px;
    
}
.flip-book {
    width: 422px;
    height: 597.5px;
    position: relative;
    perspective: 1500px;
    bottom: 0px;
    right:400px
    
}
.flip {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: .6s;
    color: #000;

}
p{
    font-size: 14px;
    line-height: 24px;
}
.front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 13px;
    box-shadow: inset 20px 0 50px rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,.5);

}
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #000;
}
.next-btn{
    position: absolute;
    bottom: 7px;
    right: 13px;
    cursor: pointer;
    color: #000;
}
.back-btn{
    position: absolute;
    bottom: 7px;
    right: 95px;
    cursor: pointer;
    color: #fff;
}

.btn {
  position: relative;
  background-color: DodgerBlue;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  bottom: 60px;
  top: 690px;
  left: 740px;

}
.btn:hover {
  background-color: RoyalBlue;
}

.instagram {
  position: absolute;
  margin: 15px auto;
  padding-inline: 505px 10px;
  bottom: 210px;
  
}

.youtube  {
  position: absolute;
  margin: 10px auto;
  padding-inline: 465px 10px;
  bottom: 215px;


}

.MV-23 {
    position: fixed;
    column-span: white;
    bottom: 50px;
    left: 785px;
   
}

#p1{
    z-index: 3;    
}
#p2{
    z-index: 2;    
}
#p3{
    z-index: 1;    
}
#c1:checked ~ .flip-book #p1{
    transform: rotateY(-180deg);
    z-index: 1;    
}
#c2:checked ~ .flip-book #p2{
    transform: rotateY(-180deg);    
    z-index: 2;
}
#c3:checked ~ .flip-book #p3{
    transform: rotateY(-180deg);
    z-index: 3;    
}

@media only screen and (max-width: 823px) {
  .instagram {
    top: 625px;
    left: -440px;
   }
   .youtube {
    top: 627px;
    left: -440px;
   }
   .MV-23 {
    top: 800px;
    left: 210px;
   }
   .btn {
    top: 580px;
    left: 260px;

   }
   .flipbookpages1 {
    left: 125px;
    top: 120px;
    width: 270px;
    height: 370px;
    }
    .flip-book {
    left: -25.5px;
    top: 120px; 
    width: 275px;
    height: 368px;
    }

}
@media only screen and (min-height: 452px) {
  .instagram {
    top: 545px;
    left: -440px;
   }
   .youtube {
    top: 547px;
    left: -440px;
   }
   .MV-23 {
    top: 610px;
    left: 165px;
   }
   .btn {
    top: 490px;
    left: 218px;
    font-size: 10px;
    width: 200px;
   }
   .flipbookpages1 {
    left: 172px;
    top: 80px;
    width: 238px;
    height: 340.5px;
    }
    .flip-book {
    font-size: 10px;
    left: -11.5px;
    top: 80px; 
    width: 238px;
    height: 340px;
    }
    .back-btn{
    bottom: 5px;
    right: 56px;
}
